.image-bg{
  background-image: url("../images/hand.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* background: url("../images/hand.jpeg") cover no-repeat center (this is the same as the stuff above)*/
}

header h1{
  height: 100px;
  padding-top: 50px;
  text-align: center;
}

nav ul {
  text-align: right;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

nav li {
  text-align: center;
  font-size: 32px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline;
}

.hand-img{
  display: none;
}
.puente-img {
  display: block;
}

.gallery{width: 960px}
.gallery li {
  width: 298px;
  height: 298px;
  margin: 10px;
  float: left;
}

.outerimage {
  background: url('../images/puente.jpeg') top center no-repeat;
  background-size: cover;
  height: 400px;
}
.innertext{
  font-size: 30px;
  color: white;
  padding: 40px;
}

footer {
  /*position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;*/
}

.push{
  display: block;
  height: 100px;
}
