#maintitle {
  color: #FFCC00;
  width: 400px;
  height: 400px;
  border:2px solid #FFCC00;
  border-left: 20px solid #FFCC00;
  padding: 25px;
  padding-top: 100px;
  margin: 100px;
}

.largetext { font-size: 36px}
.pink-bg {background: #F778A5;}
.pink-text {color: #F778A5;}
.rgbexample {color: rgba (100,30,255,0,5);}
main {
  width: 800px;
  border: 1px dotted black;
margin-left: auto;
margin-right: auto;
}

a{
  text-decoration: none;
}
a:hover{
  color: yellow
}
